{% extends "base.html" %}

{% block content %}
<body class="myBody">
  <header>
      <h3>This is header</h3>
  </header>

  <article>
      <header>
          <h1>Conditional Spread Syntax In JavaScript</h1>
          <hr>
      </header>
      <section class="toc">
          <h2>Table of contents</h2>
          <h3>Pyhton Projects</h3>
          <h3>C# Projects</h3>
          <h3>Java Projects</h3>
          <h3>Rust Projects</h3>
          <h3>JavaScript Projects</h3>
      </section>

      <section class="post">
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione enim reiciendis adipisci! Quaerat,
              tenetur recusandae! Fugiat aperiam accusamus beatae debitis, et eius omnis optio exercitationem, hic
              enim
              nihil tenetur.
              Excepturi eligendi maiores aliquid porro sit impedit eaque blanditiis qui veritatis est possimus aperiam
              minus ullam, totam deleniti et velit quidem omnis harum repudiandae illo asperiores voluptate. Sed,
              eveniet.
              Quos.
              Est dolores architecto ipsum, molestias, commodi alias accusamus esse consectetur vero dicta similique.
              Assumenda culpa corrupti ratione iste! Illo, obcaecati consequatur. Necessitatibus ut fuga placeat odit
              assumenda voluptates vel nemo!
              Cumque voluptatum eligendi officia, voluptates sunt quo aliquam obcaecati sequi repellendus cum ratione
              asperiores mollitia tempora earum amet excepturi provident eveniet saepe qui porro hic necessitatibus
              inventore pariatur alias! Necessitatibus?
              Iure ratione laborum culpa esse nulla voluptas facere fuga debitis sequi magni ab sunt, aliquam
              distinctio
              velit, ullam vel? Itaque neque, vero cupiditate optio voluptatum ipsum deserunt facere aspernatur nulla!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione voluptatem nulla accusantium vero ex
              expedita possimus, placeat omnis veritatis qui facere nemo, quo exercitationem nam minima iste soluta
              eaque laborum?
          </p>
      </section>

      <section class="meta-data">
          <h3>Published</h3>
          <h5>Apr 29, 2020</h5>
          <h3>Category</h3>
          <h5>Web Development</h5>
          <h3>Tags</h3>
          <h5>auth</h5>
      </section>
  </article>

  <footer>
      <h3>This is footer</h3>
  </footer>

</body>
{% endblock %}
