{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<div class="archs-heading">
    <h1>All Posts</h1>
    <hr>
</div>

<!-- <div class="archs-content">
    {% for article in dates %}
    <div class="archs-post">
        <div class="arch-link"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
        <div class="arch-time">{{ article.locale_date }}</div>
    </div>
    <hr class="archs-hr">
    {% endfor %}
</div> -->

<div class="archs-content">
    {% for article in dates %}
    {% set year = article.date.strftime('%Y') %}
    {% if loop.first %}
    <h2 id="{{ year }}"><a href="#{{ year }}">{{ year }}</a></h2>
    {% else %}
    {% set prevyear = loop.previtem.date.strftime('%Y') %}
    {% if prevyear != year %}
    <h2 id="{{ year }}"><a href="#{{ year }}">{{ year }}</a></h2>
    {% endif %}
    {% endif %}

    {% if loop.last %}
    
        {% else %}
        {% set next_year = loop.nextitem.date.strftime('%Y') %}

        {% if next_year != year %}
        
            {% else %}
            <div class="archs-post" itemscope>
                {% endif %}
                {% endif %}

                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                    {% if article.subtitle %}
                    <small class="subtitle">
                        {{ article.subtitle }}
                    </small>
                    {% endif %}
                </a>
                <time class="arch-link" itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">
                    {{ article.locale_date }}
                </time>
            </div>
            {% endfor %}
        
</div>


        {% endblock %}