{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<div class="archs-heading">
    <h1>All Posts</h1>
    <hr>
</div>

<div class="archs-content">
    {% for article in dates %}
    <div class="archs-link">
        <div class="arch-link"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
        <div class="arch-time">{{ article.locale_date }}</div>
    </div>
    <hr class="archs-hr">
    {% endfor %}
</div>
{% endblock %}