{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}

<section class="toc">
  <h2>Table of contents</h2>
  <h3>Pyhton Projects</h3>
  <h3>C# Projects</h3>
  <h3>Java Projects</h3>
  <h3>Rust Projects</h3>
  <h3>JavaScript Projects</h3>
</section>

<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{
        article.title }}</a>
    </h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
  </header>

  {{ article.content }}
</section>

<section class="meta-data">
  <h3>Published</h3>
  <h5>Apr 29, 2020</h5>
  <h3>Category</h3>
  <h5>Web Development</h5>
  <h3>Tags</h3>
  <h5>auth</h5>
</section>

{% endblock %}