<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
       <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
</head>

<body id="index" class="home">
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Powered by: <a href="https://getpelican.com/">Pelican</a>
                Theme: <a href="https://github.com/farooqalwi/pelican-web">Alwi</a>
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>
