html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f8f8ff;
}

body > header{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    margin: 0;
    background-color: 	#696969;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
}

ul li a{
    padding-right: 1.6rem;
    font-weight: bold;
}

ul li a:hover{
    color: orangered;
}

body > footer{
    background-color: 	#696969;
    text-align: center;
    width: 100%;
    padding: 20px 0 20px 0;
}