body {
  background-color: #f8f8ff;
}
body > footer,
body > header {
  background-color: #efe3d0;
}
ul li a:focus,
ul li a:hover {
  color: #555;
}
.archs-post .arch-link a,
.content div ul li a {
  color: #3875d7;
}
.archs-content h2 a,
.content div h1 {
  color: inherit;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
body > header {
  display: flex;
  flex-direction: row;
  padding-left: calc(1.28125rem + 0.375vw);
  margin: 0;
}
@media (min-width: 1200px) {
  body > header {
    padding-left: 1.5625rem;
  }
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul li a {
  padding-right: calc(1.285rem + 0.42vw);
}
@media (min-width: 1200px) {
  ul li a {
    padding-right: 1.6rem;
  }
}
body section {
  flex: 1;
}
body > .content > article {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
article > .post {
  margin: calc(1.28125rem + 0.375vw) 0 calc(1.28125rem + 0.375vw) 0;
  padding: 0.625rem;
}
@media (min-width: 1200px) {
  article > .post {
    margin: 1.5625rem 0 1.5625rem 0;
  }
}
article > .meta-data,
article > .toc {
  padding: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  article > .meta-data,
  article > .toc {
    padding: 1.5625rem;
  }
}
.content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body > footer {
  text-align: center;
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
}
.content .archs-content,
.content .archs-heading,
.content .cats-heading,
.content .cats-ul,
.content .tags-heading,
.content .tags-ul {
  margin: 0 calc(1.625rem + 4.5vw) 0 calc(2.75rem + 18vw);
  padding: 0;
}
@media (min-width: 1200px) {
  .content .archs-content,
  .content .archs-heading,
  .content .cats-heading,
  .content .cats-ul,
  .content .tags-heading,
  .content .tags-ul {
    margin: 0 5rem 0 16.25rem;
  }
}
.content .archs-heading,
.content .cats-heading,
.content .tags-heading {
  border-bottom: 0.125rem solid;
}
.content .cats-ul ul,
.content .tags-ul ul {
  padding-inline-start: 0;
}
.content .archs-content,
.content .cats-ul,
.content .tags-ul {
  margin-top: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .content .archs-content,
  .content .cats-ul,
  .content .tags-ul {
    margin-top: 1.875rem;
  }
}
.archs-content .archs-post {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem dotted #696969;
  margin-left: calc(1.725rem + 5.7vw);
}
@media (min-width: 1200px) {
  .archs-content .archs-post {
    margin-left: 6rem;
  }
}
.archs-content h2 {
  margin: 0;
  float: left;
}
:root {
  --sansFontFamily: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monoFontFamily: "PT Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
}
body h1 a {
  font-family: var(--monoFontFamily);
}
.archs-content h2 a,
.archs-post .arch-link a,
.archs-post .arch-time,
.content div ul li a,
ul li a {
  font-family: var(--sansFontFamily);
}
ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.archs-post .arch-link a,
.content div ul li a {
  font-size: 0.963rem;
  text-decoration: none;
}
.archs-post .arch-link a:hover,
.content div ul li a:hover {
  text-decoration: underline;
}
.archs-content h2 a {
  text-decoration: none;
  font-weight: 400;
}
.archs-post .arch-time {
  font-size: 0.8rem;
}
.content div h1 {
  font-family: var(--serifHeadingFontFamily);
  font-weight: 400;
  font-size: 2em;
}
