body{
    background-color: #f8f8ff;
}

body > header{
    background-color: #EFE3D0;
}

ul li a:hover{
    color: orangered;
}

body > footer{
    background-color:#EFE3D0;
}


.archs-post .arch-link a:hover{
    color: #333;
}